[submodule "network"]
	path = network
	url = git@github.com:nashibao/na_ios_network.git
[submodule "coredata"]
	path = coredata
	url = git@github.com:nashibao/na_ios_coredata.git
[submodule "boilerplate"]
	path = boilerplate
	url = git@github.com:nashibao/na_ios_boilerplate.git
[submodule "table"]
	path = table
	url = git@github.com:nashibao/na_ios_table.git
[submodule "utils"]
	path = utils
	url = git@github.com:nashibao/na_ios_utils.git
[submodule "coredata_rest"]
	path = coredata_rest
	url = git@github.com:nashibao/na_ios_coredata_rest.git
[submodule "coredata_sync"]
	path = coredata_sync
	url = git@github.com:nashibao/na_ios_coredata_sync.git
